*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: inter, sans-serif;
  color: white;
  /* border: 2px solid tomato; */
  display: flex;
  height: 100vh;
  width: 40%;
  margin-left: 35%;
  margin-top: 10px;
  background-color: black;
}

nav{
  margin: 20px;
/* background-color: rgb(24, 25, 26); */
}

nav img{
  display: block;
  width: 50%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
}

nav > h2, nav > h5, nav > h6{
  text-align: center;
  line-height: 0%;
}

nav > h2{
  font-weight:700;
}

nav > h5{
  color: brown;
  font-weight: 600;
}

nav > h6{
  color: bisque;
  letter-spacing: 1.5px;
  font-weight: 500;
}

nav button{
  width: 30%;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutSection{
  align-items: center;
  margin: 10px;
  margin-left: 20%;
  margin-right: auto;
}

div{
  background-color: rgb(18, 6, 6);
}

.interest-section{
  align-items: center;
  margin: 10px;
  margin-left: 20%;
  margin-right: auto;
}

.footer{
  background-color: rgb(36, 28, 17);
  height: 11.5vh;
}

.ul{
  display: flex;
  width: 100px;
  padding-left: 10px;
  margin: 10px;
  margin-left: 20%;
  margin-right: auto;
  

}

.ul > li{
  font-size: 50px;
  /* background-color: rgb(36, 28, 17);  */
  height: 10vh;
  width: 50vh;
  margin: 15px 25px;
  cursor: pointer;
}

.ul > li::marker{
  color: rgb(36, 28, 17);
}